<div class="col-sm-8">
    <h3>Bạn vui lòng điền thông tin vào ô bên dưới</h3>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="name">Họ Tên</label>
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required="">
        </div>
        <div class="form-group">
            <label for="phone">Số điện thoai</label>
            <input type="text" class="form-control" id="phone" required="">
        </div>
        <div class="form-group">
            <label for="email">Ý kiến phản hồi</label>
            <textarea type="text" class="form-control" id="email" required></textarea>
        </div>
        <div class="form-group">
            <input type="radio" name="feedback"> Rất hài lòng
            <input type="radio" name="feedback"> Hài lòng
            <input type="radio" name="feedback"> Chưa hài lòng
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div>
    </div>
</div>
