<div class="container"> 
    <h1 class="text-center">Đăng nhập</h1> 
    <div class="row"> 
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4"> 
            <form action="index.php?controllers=User&action=Login" method="post" class="form" role="form"> 
                <input class="form-control" name="username" placeholder="Username" type="text">
                <br> 
                <input class="form-control" name="password" placeholder="Mật khẩu" type="password"> 
                <br> 
                <br> 
                <button class="btn btn-lg btn-primary btn-block" type="submit"> Đăng Nhập</button>
                <br> 
                <div class="text-center">
                	<a href ="index.php?controllers=User&action=Register"> Đăng Ký</a>
              	</div>
            </form> 
        </div> 
    </div>
</div>
