<div class="container"> 
    <h1 class="text-center">Đăng ký</h1> 
    <div class="row"> 
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4"> 
            <form action="index.php?controllers=User&action=Register" method="post" class="form" role="form"> 
                <input class="form-control" name="username" placeholder="Username" type="text">
                <br> 
                <input class="form-control" name="password" placeholder="Mật khẩu" type="password"> 
                <br>
                <input class="form-control" name="phone" placeholder="Phone" type="text"> 
                <br> 
                <input class="form-control" name="address" placeholder="Address" type="text"> 
                <br> 
                <input class="form-control" name="email" placeholder="Email" type="email"> 
                <br>  
                <br> 
                <button class="btn btn-lg btn-primary btn-block" type="submit"> Đăng Ký</button>
                <br> 
            </form> 
        </div> 
    </div>
</div>
